body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5; /* Fondo claro */
    margin: 0;
    padding: 0;
    padding-bottom: 60px; /* Espacio para el footer fijo */
}

.header {
    background-color: #66bb6a; /* Verde suave */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar button {
    background-color: #ffffff;
    color: #66bb6a;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.navbar button:hover {
    background-color: #66bb6a; /* Verde suave */
    color: white;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin: 20px 0 10px;
    font-size: 2em;
    color: #388e3c; /* Verde claro */
}

h3 {
    font-size: 1.5em;
    color: #2e7d32; /* Verde oscuro */
}

main {
    padding: 40px;
}

.content-section {
    display: none; /* Ocultar secciones por defecto */
    background-color: #f1f8e9; /* Fondo claro para las secciones */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    margin: 15px 0; /* Espaciado entre secciones */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.content-section h2 {
    color: #388e3c; /* Verde claro */
}

.content-section p {
    font-size: 1.1em; /* Tamaño de letra más grande */
    line-height: 1.6; /* Espaciado entre líneas */
    color: #333; /* Color de texto oscuro */
}

footer {
    background-color: #66bb6a; /* Verde suave */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
